# Virtual environments
myenv/ 
venv/ 
env/ 
.venv/ 
.env/
.env

# data
data/
recordings/
transcripts/
summaries/
*.db
*.sql
supabase

__pycache__/
script_progress.log


#temporarily git ignoring these:
scripts/
dashboard/
docker-compose.yml

